<h1>Listing journals</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.body %></td>
        <td><%= link_to 'Show', journal %></td>
        <% if journal.user == current_user %>
          <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
          <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Journal', new_journal_path %>
<% end %>