<div class="panel panel-default">
  
  <div class="panel-heading">
    <div class="panel-title penscript-title"><%= @journal.title %> <small><%= l @journal.created_at, format: :short %></small></div>
  </div>
  
  <div class="panel-body">
  	  <div class="penscript">
  			<%= @journal.body %>
  		</div>
  </div>
  
  <div class="panel-footer">
  	좋아요
  </div>

</div>

<% if @journal.user_id == current_user.id %>
	<%= link_to 'Edit', edit_journal_path(@journal), class: "btn btn-warning" %>
<% end %>
<%= link_to 'Back', journals_path, class: "btn btn-primary"  %>
