<p id="notice"><%= notice %></p>

<p>
  <div class="page-header">
  	<h1><%= @journal.title %> <small><%= l @journal.created_at, format: :short %></small></h1>
  	<p></p>
	</div>
  <div class="penscript">
  	<%= @journal.body %>
	</div>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
